@import '~@fontsource/roboto/400.css';
@import '~@fontsource/roboto/500.css';
@import '~@fontsource/roboto/700.css';


$fullWidth: 100%;
$maxWidth: 1280px;
$transitionPoint: 1024px;
$smallCardWidth: 160px;
$bigCardWidth: 280px;
$minGap: 15px;
$maxGap: 20px;
$white: rgb(240, 240, 240);
$blue: rgb(143, 218, 253);
$red: rgb(188, 0, 0);
$fontGrey: #516172;
$fontTitle: #1A3150;
$backgroundColorBody: #f5f7f9;
$backgroundLayout: rgba(0, 255, 255, .05);


@mixin hover($opacity, $delay) {
  opacity: $opacity;
  transition: opacity linear $delay;
}

@mixin fontProperty($size, $weight, $height, $style) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-style: $style;
}

%fontRobotoRegular {
  font-family: 'Roboto';
  font-weight: 400;
}