@import '../../assets/scss/_variables.scss';

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;

  &__input {
    width: 60%;
    @include fontProperty(20px, 500, 1.2, _);
    border: 2px solid $fontGrey;
    border-radius: 6px;
    outline: none;
    padding: 4px 10px;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.3);

    &:focus {
      background-color: rgba(245, 245, 245, 0.7);
    }
  }

  &__btn_del {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $backgroundLayout;
    border-radius: 3px;
    border: 1px solid $blue;
    outline: none;
    cursor: pointer;
    padding: 4px;
    color: $blue;

    &:hover {
      color: $red;
      border: 1px solid $red;
    }
  }

  &__btn_add {
    width: fit-content;
    background-color: $backgroundLayout;
    border-radius: 3px;
    border: 1px solid $red;
    outline: none;
    cursor: pointer;
    padding: 4px;
    color: $red;

    &:hover {
      color: $blue;
      border: 1px solid $blue;
    }
  }
}
