@import '../../assets/scss/_variables.scss';

.search {
  display: flex;
  flex-direction: column;
  position: relative;
  width: $fullWidth;
  max-width: calc($bigCardWidth * 2 + $minGap);

  &__input {
    @include fontProperty(20px, 500, 1.2, _);
    border: 2px solid $fontGrey;
    border-radius: 10px;
    outline: none;
    padding: 6px 18px;
    background-color: rgba(245, 245, 245, 0.3);
    box-shadow: 5px 5px 10px $fontGrey;

    &:focus {
      background-color: rgba(245, 245, 245, 0.55);
    }

    &::placeholder {
      font-style: italic;
      font-size: 18px;
      color: $fontGrey;
    }
  }

  &__close {
    @include fontProperty(35px, 400, 1.2, _);
    color: $fontGrey;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
  }

  &__warning {
    padding-top: 8px;
    @include fontProperty(14px, 500, 1.2, italic);
    color: $red;
  }
}
