@import '../../assets/scss/_variables.scss';

.app {
  margin: auto;
  width: $fullWidth;
  max-width: $maxWidth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $backgroundLayout;
}
