@import '../../assets/scss/_variables.scss';

.main {
  width: $fullWidth;
  max-width: $maxWidth;
  background: $backgroundLayout;
  padding: 15px 10px;
  margin: auto;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0 0 10px $fontGrey;
  color: $fontTitle;

  &__top-box {
    width: $fullWidth;
    display: flex;
    margin-bottom: 20px;
  }

  &__title {
    @include fontProperty(28px, 700, 1.2, _);
    margin-left: 20px;
  }

  &__foto {
    width: 100px;
    box-shadow: -5px 5px 11px rgb(151, 151, 151);
    border-radius: 3px;
  }

  &__text {
    @include fontProperty(20px, 500, 1.4, _);
    margin-bottom: 12px;
    font-family: 'Satisfy', cursive;
  }

  &__paintings {
    width: 120px;
    float: left;
  }

  &__title_name {
    @include fontProperty(20px, 700, 1.4, italic);
    text-align: end;
    margin-top: 25px;
    font-family: 'Satisfy', cursive;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 25px 20px;
    flex-direction: row;
    align-items: flex-start;

    &__top-box {
      flex-direction: column-reverse;
      margin-right: 45px;
      max-width: fit-content;
    }

    &__title {
      margin: 0 0 25px 0;
    }

    &__foto {
      width: 250px;
    }

    &__text {
      @include fontProperty(24px, 500, 1.6, italic);
    }

    &__title_name {
      @include fontProperty(24px, 700, 1.6, italic);
    }
  }
}
