@import '../../assets/scss/_variables.scss';

@keyframes apperance {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.card {
  width: $fullWidth;
  height: fit-content;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 5px 5px 10px $fontGrey;
  animation: apperance 0.7s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    @include hover(0.9, 0.3s);
  }

  &__title {
    @include fontProperty($minGap, 700, 1.4, _);
    font-family: 'Satisfy', cursive;
    color: $fontGrey;
    margin: 5px 10px 5px auto;
    text-align: end;

    &_highlight {
      color: rgb(0, 191, 255);
    }
  }

  &_shift {
    max-height: calc($smallCardWidth + $maxGap);
  }

  &__image {
    max-width: $fullWidth;
    max-height: 240px;
  }
}

@media screen and (min-width: $transitionPoint) {
  .card__title {
    font-size: $maxGap;
  }
}
