@import '../../assets/scss/_variables.scss';

.header {
  width: $fullWidth;
  background: no-repeat left url('../../assets/images/header.jpg');
  background-size: cover;

  &__box {
    padding: 15px;
    margin: auto;
    width: $fullWidth;
    max-width: calc($maxWidth + 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 45px;
    cursor: pointer;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    list-style: none;
  }
}

@media screen and (min-width: $transitionPoint) {
  .header__box {
    padding: 10px 15px;
  }
}
