@import '../../assets/scss/variables.scss';

.header {
  width: $full-width;
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: no-repeat left url('../../assets/images/header-green.jpg');

  &__logo {
    width: 52px;
    cursor: pointer;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
  }
}
