@import '../../assets/scss/_variables.scss';

@keyframes appearance {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.gallery {
  width: $fullWidth;
  max-width: $maxWidth;
  background: $backgroundLayout;
  flex-grow: 2;
  padding: 15px 10px;
  margin: auto;
  box-shadow: 0 0 10px $fontGrey;

  &__content-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto 25px;
    max-width: calc($bigCardWidth * 2 + $minGap);
  }

  &__title {
    @include fontProperty(30px, 700, 1.2, _);
    margin-bottom: 15px;
    color: $fontTitle;
  }

  &__content {
    width: $fullWidth;
    display: flex;
    flex-direction: column-reverse;
  }

  &__images-box {
    display: grid;
    grid-template-columns: repeat(2, minmax($smallCardWidth, $bigCardWidth));
    gap: $minGap;
    margin: auto;
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__foto {
    width: 200px;
    margin: 0 auto 30px;
  }

  &__message {
    @include fontProperty(34px, 500, 1.2, _);
    font-family: 'Satisfy', cursive;
    color: $fontTitle;
    margin: auto;
    text-align: center;
  }

  &__children-box {
    width: $fullWidth;
    max-width: calc($bigCardWidth * 2 + $minGap);
    margin: 0 auto 40px;
    border-radius: 4px;
    overflow: hidden;
  }
}

@media screen and (min-width: $transitionPoint) {
  .gallery {
    padding: 25px 20px;

    &__content-box {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto 25px;
      width: $fullWidth;
      max-width: calc($bigCardWidth * 3 + ($maxGap * 2));

      &_shift {
        margin: 0 0 25px;
      }
    }

    &__title {
      font-size: 28px;
      margin: 0;
      min-width: calc($smallCardWidth * 2 + ($maxGap * 1) + 30px);
    }

    &__content {
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
    }

    &__images-box {
      grid-template-columns: repeat(3, $bigCardWidth);
      gap: $maxGap;
      &_shift {
        animation: appearance 0.5s normal ease-in;
        grid-template-columns: repeat(2, $smallCardWidth);
        margin: 0 auto 0 0;
        gap: $minGap;
      }
    }

    &__children-box {
      width: calc($fullWidth - ($smallCardWidth * 2 + ($maxGap * 1)) - 30px);
      max-width: $fullWidth;
      margin: 0;
    }
  }
}
