@import '../../assets/scss/_variables.scss';

.footer {
  width: $fullWidth;
  padding: 10px calc(($fullWidth - $maxWidth) / 2);
  display: flex;
  align-items: center;
  background: no-repeat url('../../assets/images/footer.jpg');
  background-size: cover;

  &__text {
    @include fontProperty(12px, 400, 1.2, _);
    color: $white;
    margin-left: 10px;
  }
}
