@import '../../assets/scss/_variables.scss';

.link {
  text-decoration: none;
  @include fontProperty(18px, 500, 1.2, _);
  color: $white;
  margin-left: 15px;
  background-color: rgba(78, 144, 78, .5);
  border-radius: 2px;

  &_active {
    border-bottom: solid $white 3px;
  }

  &:hover {
    @include hover(0.85, 0.3s);
  }
}

@media screen and (min-width: $transitionPoint) {
  .link {
    font-size: 20px;
    margin-left: 30px;
    padding-bottom: 1px;
  }
}
