@import '../../assets/scss/_variables.scss';

.link {
  text-decoration: none;
  @include fontProperty(20px, 500, 1.4, _);
  color: $blue;
  padding: 0;
  margin-left: 30px;
  padding-bottom: 1px;

  &_active {
    border-bottom: solid $blue 3px;
  }

  &:hover {
    @include hover(0.85, 0.3s);
  }
}
